<h3>Create Manager</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="manager.firstName" name="firstName">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">FirstName is required</small>
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="manager.lastName" name="lastName">
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">LastName is required</small>
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="manager.eMail" name="emailId">
      <small class="text-danger" [class.d-none]="emailId.valid || emailId.untouched">email is required</small>
    </div>

    <div class="form-group">
        <label for="name">Age</label>
        <input type="text" class="form-control" id="Age" required [(ngModel)]="manager.age" name="age">
        <small class="text-danger" [class.d-none]="age.valid || age.untouched">age is required</small>
      </div>

      <div class="form-group">
        <label for="name">Gender</label>
        <input type="text" class="form-control" id="gender" required [(ngModel)]="manager.gender" name="gender">
        <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">gender is required</small>
      </div>

      <div class="form-group">
        <label for="name">CONTACT NUMBER</label>
        <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="manager.contactNumber" name="contactNumber">
        <small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">contact number is required</small>
      </div>

     

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

