<h2>Plane Details</h2> 

<hr/>
<div *ngIf="plane">
  <div>
    <label><b> Name: </b></label> {{plane.name}}
  </div>
  <div>
    <label><b>MODEL NUMBER: </b></label> {{plane.modelNumber}}
  </div>
  <div>
    <label><b>SERVICE NUMBER: </b></label> {{plane.serviceNumber}}
  </div> 
  <div>
    <label><b>TYPE </b></label> {{plane.type}}
  </div> 
  <div>
    <label><b>COMPANY: </b></label> {{plane.company}}
  </div> 
 
  
   
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Plane List</button><br>