<h2>Pilot Details</h2> 

<hr/>
<div *ngIf="pilot">
  <div>
    <label><b>First Name: </b></label> {{pilot.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{pilot.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{pilot.emailId}}
  </div> 
  <div>
    <label><b>AGE: </b></label> {{pilot.age}}
  </div> 
  <div>
    <label><b>Contact Number: </b></label> {{pilot.contactNumber}}
  </div> 
  <div>
    <label><b>Experience </b></label> {{pilot.experience}}
  </div> 
  
   
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Pilot List</button><br>