<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Plane List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NAME</th>
            <th>MODEL NUMBER</th>
            <th>TYPE</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plane of plane | async">
            <td>{{Plane.name}}</td>
            <td>{{Plane.modelNumber}}</td>
            <td>{{Plane.type}}</td>
            <td><button (click)="deletePlane(Plane.serviceNumber)" class="btn btn-danger">Delete</button>
                <button (click)="pilotDetails(Plane.serviceNumber)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>