<h3>Create Plane</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Plane Name</label>
      <input type="text" class="form-control" id="Name" required [(ngModel)]="plane.name" name="Name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group">
      <label for="name">MODEL NUMBER</label>
      <input type="text" class="form-control" id="modelNumber" required [(ngModel)]="plane.modelNumber" name="modelnumber">
      <small class="text-danger" [class.d-none]="modelNumber.valid || modelNumber.untouched">model number is required</small>
    </div>

    <div class="form-group">
      <label for="name">SERVICE NUMBER</label>
      <input type="text" class="form-control" id="serviceNumber" required [(ngModel)]="plane.serviceNumber" name="servicenumber">
      <small class="text-danger" [class.d-none]="serviceNumber.valid || serviceNumber.untouched">service number is required</small>
    </div>

    <div class="form-group">
        <label for="name">TYPE</label>
        <input type="text" class="form-control" id="Type" required [(ngModel)]="plane.type" name="type">
        <small class="text-danger" [class.d-none]="type.valid || type.untouched">type is required</small>
      </div>

      <div class="form-group">
        <label for="name">COMPANY</label>
        <input type="text" class="form-control" id="company" required [(ngModel)]="plane.Company" name="company">
        <small class="text-danger" [class.d-none]="company.valid || company.untouched">company is required</small>
      </div>

     

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

