<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Pilot List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pilot of pilot | async">
            <td>{{pilot.firstName}}</td>
            <td>{{pilot.lastName}}</td>
            <td>{{pilot.eMail}}</td>
            <td><button (click)="deletePilot(Pilot.pilotId)" class="btn btn-danger">Delete</button>
                <button (click)="pilotDetails(pilot.pilotId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>