<h3>Update Pilot</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="pilot.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="pilot.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="pilot.eMail" name="emailId">
    </div>

    <div class="form-group">
        <label for="name">Contact NUmber</label>
        <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="pilot.contactNumber" name="contact">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>