
 <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/displaypilot" class="nav-link" routerLinkActive="active">CHECK PILOTS</a>
      </li>  
      <li class="nav-item">
          <a routerLink="/displayplane" class="nav-link" routerLinkActive="active">CHECK PLANES</a>
      </li>
      <li class="nav-item">
        <a routerLink="/addManager" class="nav-link" routerLinkActive="active">ADD NEW MANAGER</a>
    </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  
  
  